
.menu-button-m {
z-index: 100;
}
.menu-button-m img {
  max-height: 62px;
}
.menu-m {
  position: fixed;
  height: 100vh;
  width: 0vw;
  z-index: 100;
}

.menu-m {
  position: fixed;
  height: 100vh;
  width: 0vw;
  z-index: 100;
}

.menu-background-m {
  position: absolute;
  height: 100vh;
  width: 0vw;
  background-color: #000000;
  opacity: 0.5;
  z-index: 101;
}

.menu-list-box-large-m {
  position: absolute;
  height: 100vh;
  width: 0vw;
  background-color: #eaeaea;
  z-index: 102;
}

.menu-list-button-m {
  position: absolute;
  height: 10vw;
  width: 10vw;
  z-index: 103;
  top: 3vw;
  right: 3vw;
  display: none;
}


.menu-list-box-small-m {
  position: fixed;
  width: 40vw;
  height: auto;
  top: 50%;
  padding-left: 5vw;
  transform: translateY(-50%);
  z-index: 103;
  display: none;
}

.menu-list-box-small-m h1 {
  text-align: left;
  font-family: "Marion-The-Essentials", Arial, sans-serif;
  font-size: 8vw;
  line-height: 1;
  font-weight: 100;
  color: #1a1a1a;
}

.menu-list-box-small-m h1 a{
  color: #1a1a1a;
  text-decoration: none;
}