.elementor-1712 .elementor-element.elementor-element-cdaf459 > .elementor-container{min-height:100vh;}.elementor-1712 .elementor-element.elementor-element-cdaf459 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-cdaf459{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-cdaf459 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-287e06d0.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-287e06d0.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-287e06d0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-287e06d0 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-287e06d0 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-287e06d0{z-index:99;}.elementor-1712 .elementor-element.elementor-element-6e2a338e{text-align:center;z-index:99;width:auto;max-width:auto;align-self:flex-start;}.elementor-1712 .elementor-element.elementor-element-6e2a338e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-30416c98 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-30416c98{z-index:11;width:auto;max-width:auto;}body:not(.rtl) .elementor-1712 .elementor-element.elementor-element-30416c98{right:0px;}body.rtl .elementor-1712 .elementor-element.elementor-element-30416c98{left:0px;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-16b5c889.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-16b5c889.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-16b5c889.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-16b5c889 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-16b5c889 > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-16b5c889 > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-16b5c889 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-16b5c889 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-16b5c889 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-16b5c889{z-index:1;}.elementor-1712 .elementor-element.elementor-element-372bb02 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-372bb02{z-index:1;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-b3bab7d.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-b3bab7d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-b3bab7d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-b3bab7d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-b3bab7d > .elementor-element-populated{border-style:solid;border-width:0px 1px 0px 0px;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-b3bab7d > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-b3bab7d > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-b3bab7d > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-b3bab7d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-b3bab7d{z-index:0;}.elementor-1712 .elementor-element.elementor-element-d133f19 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-d133f19{z-index:0;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-eea1d86.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-eea1d86.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-eea1d86.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-eea1d86 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-eea1d86 > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-eea1d86 > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-eea1d86 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-eea1d86 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-eea1d86 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-eea1d86{z-index:1;}.elementor-1712 .elementor-element.elementor-element-1159126 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-1159126{z-index:1;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-6759161.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-6759161.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-6759161.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-6759161 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-6759161 > .elementor-element-populated{border-style:solid;border-width:0px 1px 0px 0px;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-6759161 > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-6759161 > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-6759161 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-6759161 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-6759161{z-index:0;}.elementor-1712 .elementor-element.elementor-element-f6b08a3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-f6b08a3{z-index:0;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-15acbd85.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-15acbd85.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-15acbd85 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-15acbd85 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-1712 .elementor-element.elementor-element-15acbd85 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-15acbd85{z-index:0;}.elementor-1712 .elementor-element.elementor-element-138de508 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-138de508{z-index:0;}.elementor-1712 .elementor-element.elementor-element-6c406732{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-6c406732 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-bcf18ff{text-align:left;z-index:7;width:auto;max-width:auto;align-self:flex-start;}.elementor-1712 .elementor-element.elementor-element-bcf18ff img{max-width:70%;}.elementor-1712 .elementor-element.elementor-element-bcf18ff > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7 > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-42fb8143 > .elementor-widget-container{margin:2% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-42fb8143{z-index:1;}.elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-661cf6d1 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-661cf6d1{overflow:hidden;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-72b83e4 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1712 .elementor-element.elementor-element-72b83e4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px) and (min-width:768px){.elementor-1712 .elementor-element.elementor-element-29e20cd0{width:100%;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7{width:15%;}.elementor-1712 .elementor-element.elementor-element-2c3e6d24{width:70%;}.elementor-1712 .elementor-element.elementor-element-4d74bad9{width:15%;}.elementor-1712 .elementor-element.elementor-element-72b83e4{width:100%;}}@media(max-width:1024px){.elementor-1712 .elementor-element.elementor-element-6c406732{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-2306777.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-2306777.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-2306777.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-1712 .elementor-element.elementor-element-2306777 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-2306777 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-0a70ee4{z-index:100;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-29e20cd0.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-29e20cd0.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-29e20cd0.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-1712 .elementor-element.elementor-element-29e20cd0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-29e20cd0 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-bcf18ff{z-index:99;}.elementor-1712 .elementor-element.elementor-element-00a74eb{z-index:99;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-2eefb9d7.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-2eefb9d7 > .elementor-element-populated{border-width:0px 1px 0px 0px;margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-2c3e6d24.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-2c3e6d24.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-2c3e6d24.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-2c3e6d24 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-2c3e6d24 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-42fb8143 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-4d74bad9.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-4d74bad9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-4d74bad9.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-element-populated{border-width:0px 0px 0px 1px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-4d74bad9 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-25031acb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-1fbb078 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-64e8e77{z-index:100;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-element-populated{border-width:0px 1px 0px 0px;margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-element-populated{border-width:0px 0px 0px 1px;margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}}@media(max-width:767px){.elementor-1712 .elementor-element.elementor-element-cdaf459 > .elementor-container{min-height:100vh;}.elementor-1712 .elementor-element.elementor-element-0a70ee4{z-index:100;}.elementor-1712 .elementor-element.elementor-element-1fbb078 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-1fbb078 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-64e8e77 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-64e8e77{z-index:100;}.elementor-1712 .elementor-element.elementor-element-72b83e4{width:100%;z-index:99;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-72b83e4.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-72b83e4.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1712 .elementor-element.elementor-element-72b83e4 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-72b83e4 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-1712 .elementor-element.elementor-element-d16d2a0{text-align:left;z-index:99;width:auto;max-width:auto;}.elementor-1712 .elementor-element.elementor-element-d16d2a0 img{width:51%;}.elementor-1712 .elementor-element.elementor-element-d16d2a0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:7px 0px 0px 5px;}.elementor-1712 .elementor-element.elementor-element-1934871{z-index:99;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7{width:15%;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-6e00b3b7.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-element-populated{border-width:0px 1px 0px 0px;margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-6e00b3b7 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-45dab7ac > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-1712 .elementor-element.elementor-element-7cc819cb{width:15%;}.elementor-bc-flex-widget .elementor-1712 .elementor-element.elementor-element-7cc819cb.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1712 .elementor-element.elementor-element-7cc819cb.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1712 .elementor-element.elementor-element-7cc819cb.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-element-populated{border-width:0px 0px 0px 1px;margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-element-populated, .elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-element-populated > .elementor-background-overlay, .elementor-1712 .elementor-element.elementor-element-7cc819cb > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1712 .elementor-element.elementor-element-3bd8669 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}}/* Start custom CSS for theme-site-logo, class: .elementor-element-6e2a338e */.elementor-1712 .elementor-element.elementor-element-6e2a338e img {
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 70%;
}

@media only screen and (max-width:1921px), only screen and (max-height:1081px) {
    .elementor-1712 .elementor-element.elementor-element-6e2a338e img {
    max-width: 52.5%;

}
}
@media only screen and (max-width:1280px), only screen and (max-height:720px) {
    .elementor-1712 .elementor-element.elementor-element-6e2a338e img {
    max-width: 52.5%;
}
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-287e06d0 */.elementor-1712 .elementor-element.elementor-element-287e06d0{
    position: absolute;
    height: 20vh;
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
@media screen and (max-width: 1921px) , screen and (max-height: 1081px) {
  .elementor-1712 .elementor-element.elementor-element-287e06d0 {
      padding-left: 30px;
      padding-right: 40px;
      padding-top: 30px;
  }
}

@media screen and (max-width: 1281px) , screen and (max-height: 721px) {
  .elementor-1712 .elementor-element.elementor-element-287e06d0 {
      padding-left: 20px;
      padding-right: 30px;
      padding-top: 20px;
  } 
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-372bb02 */.elementor-1712 .elementor-element.elementor-element-372bb02{
  transform: rotate(-90deg) translateY(0.3vw);
    position: fixed;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-16b5c889 */.elementor-1712 .elementor-element.elementor-element-16b5c889 {
      position: fixed;
    height: 100vh;
    width: 10vw;
   animation: s24 1s forwards;
    animation-delay: 0.75s;
    opacity: 0;
  -webkit-animation: s24 1s forwards;
  -webkit-animation-delay: 0.75s;
}
@-webkit-keyframes s24 {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s24 {
  0% {
    transform: translateX(-10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-d133f19 */.elementor-1712 .elementor-element.elementor-element-d133f19{
  transform: rotate(-90deg) translateY(0.3vw);
    position: fixed;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b3bab7d */.elementor-1712 .elementor-element.elementor-element-b3bab7d {
      position: fixed;
    height: 100vh;
    width: 10vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1159126 */.elementor-1712 .elementor-element.elementor-element-1159126{
  transform: rotate(-90deg) translateY(0.3vw);
position: absolute;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-eea1d86 */.elementor-1712 .elementor-element.elementor-element-eea1d86 {
    height: 100vh;
    width: 10vw;
   position: fixed;
   left: 10vw;
   animation: s25 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s25 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s25 {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s25 {
  0% {
    transform: translateX(-10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-f6b08a3 */.elementor-1712 .elementor-element.elementor-element-f6b08a3{
  transform: rotate(-90deg) translateY(0.3vw);
position: absolute;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6759161 */.elementor-1712 .elementor-element.elementor-element-6759161 {
    height: 100vh;
    width: 10vw;
   position: fixed;
   left: 10vw;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-15acbd85 */.elementor-1712 .elementor-element.elementor-element-15acbd85 {
display: block;
overflow-y: scroll;
scroll-behavior: smooth;
width: 80vw;
overflow-x: hidden;
height: 100vh;
transform: translateX(20vw);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2306777 */.elementor-1712 .elementor-element.elementor-element-2306777 {
    position: absolute;
    height: 100vh;
    width: 100vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-00a74eb */.elementor-1712 .elementor-element.elementor-element-00a74eb {
    position: absolute;
width: 40px;
height: 50px;
right: 0;

}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-29e20cd0 */.elementor-1712 .elementor-element.elementor-element-29e20cd0 {
height: 10vh;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5eb5cb76 */.elementor-1712 .elementor-element.elementor-element-5eb5cb76 {
    position: absolute;
     width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2eefb9d7 */.elementor-1712 .elementor-element.elementor-element-2eefb9d7 {
position: relative;
height: 70vh;
left: 0;
top:5vh;
animation: s25-t-uiux 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s25-t-uiux 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s25-t-uiux {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s25-t-uiux {
  0% {
    transform: translateX(-10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2c3e6d24 */.elementor-1712 .elementor-element.elementor-element-2c3e6d24 {
  display: block;
    width: 70vw;
    height: 70vh;
    top: 5vh;
  overflow-y: scroll;
    overflow-x: hidden;
  scroll-behavior: smooth;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-25031acb */.elementor-1712 .elementor-element.elementor-element-25031acb {
    position: absolute;
     width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4d74bad9 */.elementor-1712 .elementor-element.elementor-element-4d74bad9 {
position: relative;
height: 70vh;
right: 0;
top:5vh;
   animation: s24-t-uiux 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s24-t-uiux 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s24-t-uiux {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s24-t-uiux {
  0% {
    transform: translateX(10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6c406732 */.elementor-1712 .elementor-element.elementor-element-6c406732 {
    height: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1fbb078 */.elementor-1712 .elementor-element.elementor-element-1fbb078 {
    position: absolute;
    height: 100%;
    width: 100vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1934871 */.elementor-1712 .elementor-element.elementor-element-1934871 {
    position: absolute;
width: 30px;
right: 3%;
padding-top: 2.0%;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-72b83e4 */.elementor-1712 .elementor-element.elementor-element-72b83e4 {
    position: fixed;
height: 10vh;
width: 100%;
      padding-left: 5%;
      padding-right: 4.3%;
      padding-top: 5%;
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-45dab7ac */.elementor-1712 .elementor-element.elementor-element-45dab7ac {
    position: absolute;
    width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6e00b3b7 */.elementor-1712 .elementor-element.elementor-element-6e00b3b7 {
position: fixed;
height: 60vh;
left: 0;
top:15vh;
   animation: s25-m-uiux 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s25-m-uiux 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s25-m-uiux {
  0% {
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s25-m-uiux {
  0% {
    transform: translateX(-15%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1200246 */.elementor-1712 .elementor-element.elementor-element-1200246 {
  display: block;
    width: 70vw;
    height: 60vh;
    top: 15vh;
    left: 15vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-3bd8669 */.elementor-1712 .elementor-element.elementor-element-3bd8669{
    position: absolute;
    width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7cc819cb */.elementor-1712 .elementor-element.elementor-element-7cc819cb {
position: fixed;
height: 60vh;
right: 0;
top:15vh;
   animation: s24-m-uiux 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s24-m-uiux 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s24-m-uiux {
  0% {
    transform: translateX(15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s24-m-uiux {
  0% {
    transform: translateX(15%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-661cf6d1 */.elementor-1712 .elementor-element.elementor-element-661cf6d1 {
overflow: hidden;
width: 100%;
height: 100vh;
}/* End custom CSS */