.elementor-1711 .elementor-element.elementor-element-228234f4 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-228234f4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-228234f4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-68ee415b.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-68ee415b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-68ee415b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-68ee415b > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-68ee415b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-68ee415b{z-index:99;}.elementor-1711 .elementor-element.elementor-element-7fa77075{text-align:center;z-index:99;width:auto;max-width:auto;align-self:flex-start;}.elementor-1711 .elementor-element.elementor-element-7fa77075 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-1d5fdca1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-1d5fdca1{z-index:11;width:auto;max-width:auto;}body:not(.rtl) .elementor-1711 .elementor-element.elementor-element-1d5fdca1{right:0px;}body.rtl .elementor-1711 .elementor-element.elementor-element-1d5fdca1{left:0px;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-56228809.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-56228809.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-56228809.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-56228809 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-56228809 > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-56228809 > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-56228809 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-56228809 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-56228809 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-56228809{z-index:1;}.elementor-1711 .elementor-element.elementor-element-7ea2d83d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-7ea2d83d{z-index:1;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-26c4b8c7.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7 > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-26c4b8c7 > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-26c4b8c7 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-26c4b8c7{z-index:1;}.elementor-1711 .elementor-element.elementor-element-5f7bbf5e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-5f7bbf5e{z-index:1;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-b9eb634.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-b9eb634.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-b9eb634.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-b9eb634 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-b9eb634 > .elementor-element-populated{border-style:solid;border-width:0px 1px 0px 0px;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-b9eb634 > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-b9eb634 > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-b9eb634 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-b9eb634 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-b9eb634{z-index:0;}.elementor-1711 .elementor-element.elementor-element-c227cdf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-c227cdf{z-index:0;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-64e23be.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-64e23be.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-64e23be.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-64e23be > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-64e23be > .elementor-element-populated{border-style:solid;border-width:0px 1px 0px 0px;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-64e23be > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-64e23be > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-64e23be > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-64e23be > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-64e23be{z-index:0;}.elementor-1711 .elementor-element.elementor-element-8becf5b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-8becf5b{z-index:0;}.elementor-1711 .elementor-element.elementor-element-31e14f50 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-31e14f50 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-1711 .elementor-element.elementor-element-31e14f50 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-31e14f50{z-index:0;}.elementor-1711 .elementor-element.elementor-element-47fd4569 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-47fd4569{z-index:0;}.elementor-1711 .elementor-element.elementor-element-3c44594{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-3c44594 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-701e2389.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-701e2389.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-701e2389.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-1711 .elementor-element.elementor-element-4b38e7b6{text-align:left;z-index:7;width:auto;max-width:auto;align-self:flex-start;}.elementor-1711 .elementor-element.elementor-element-4b38e7b6 img{max-width:70%;}.elementor-1711 .elementor-element.elementor-element-4b38e7b6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-71b7bb35 > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1711 .elementor-element.elementor-element-71b7bb35 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-2befa2f > .elementor-widget-container{margin:2% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-2befa2f{z-index:1;}.elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-4c85e49a > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-4c85e49a{overflow:hidden;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-1c0be64 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1711 .elementor-element.elementor-element-1c0be64 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1711 .elementor-element.elementor-element-143d5b34 > .elementor-widget-container{margin:2% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-143d5b34{z-index:1;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-element-populated{border-style:solid;border-color:#626262;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px) and (min-width:768px){.elementor-1711 .elementor-element.elementor-element-701e2389{width:100%;}.elementor-1711 .elementor-element.elementor-element-71b7bb35{width:15%;}.elementor-1711 .elementor-element.elementor-element-2e9d8dbb{width:70%;}.elementor-1711 .elementor-element.elementor-element-71907851{width:15%;}.elementor-1711 .elementor-element.elementor-element-1c0be64{width:100%;}}@media(max-width:1024px){.elementor-1711 .elementor-element.elementor-element-3c44594{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-120b73f8.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-120b73f8.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-120b73f8.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-1711 .elementor-element.elementor-element-120b73f8 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-120b73f8 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-7e6b5b02{z-index:100;}.elementor-1711 .elementor-element.elementor-element-701e2389.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-1711 .elementor-element.elementor-element-701e2389 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-701e2389 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-4b38e7b6{text-align:left;z-index:99;}.elementor-1711 .elementor-element.elementor-element-4b38e7b6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-72612ae8{z-index:99;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-71b7bb35.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-71b7bb35.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-71b7bb35.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-71b7bb35 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-71b7bb35 > .elementor-element-populated{border-width:0px 1px 0px 0px;margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-2e9d8dbb.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-2e9d8dbb.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-2e9d8dbb.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-2e9d8dbb > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-2e9d8dbb > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-2befa2f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-71907851.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-71907851.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-71907851.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-element-populated{border-width:0px 0px 0px 1px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-71907851 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-2fe08715 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-c9fbb26 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-fe54ee0{z-index:100;}.elementor-1711 .elementor-element.elementor-element-a9a047c{text-align:left;width:auto;max-width:auto;}.elementor-1711 .elementor-element.elementor-element-a9a047c img{width:51%;}.elementor-1711 .elementor-element.elementor-element-a9a047c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:7px 0px 0px 5px;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-element-populated{border-width:0px 1px 0px 0px;margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-1711 .elementor-element.elementor-element-636ae20d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-636ae20d > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-636ae20d > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-636ae20d > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-element-populated{border-width:0px 0px 0px 1px;margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}}@media(max-width:767px){.elementor-1711 .elementor-element.elementor-element-7e6b5b02{z-index:100;}.elementor-1711 .elementor-element.elementor-element-c9fbb26 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-c9fbb26 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-fe54ee0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-fe54ee0{z-index:100;}.elementor-1711 .elementor-element.elementor-element-1c0be64{width:100%;z-index:99;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-1c0be64.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-1c0be64.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1711 .elementor-element.elementor-element-1c0be64 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-1c0be64 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-1711 .elementor-element.elementor-element-a9a047c{z-index:99;}.elementor-1711 .elementor-element.elementor-element-2f0689e{z-index:99;}.elementor-1711 .elementor-element.elementor-element-15f1663f{width:15%;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-15f1663f.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-15f1663f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-15f1663f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-element-populated{border-width:0px 1px 0px 0px;margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-15f1663f > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-1ea789ed > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-1711 .elementor-element.elementor-element-636ae20d > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-636ae20d > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-1393f99{width:15%;}.elementor-bc-flex-widget .elementor-1711 .elementor-element.elementor-element-1393f99.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1711 .elementor-element.elementor-element-1393f99.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1711 .elementor-element.elementor-element-1393f99.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-element-populated{border-width:0px 0px 0px 1px;margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-element-populated, .elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-element-populated > .elementor-background-overlay, .elementor-1711 .elementor-element.elementor-element-1393f99 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-1711 .elementor-element.elementor-element-34bb68b9 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}}/* Start custom CSS for theme-site-logo, class: .elementor-element-7fa77075 */.elementor-1711 .elementor-element.elementor-element-7fa77075 img {
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 70%;
}

@media only screen and (max-width:1921px), only screen and (max-height:1081px) {
    .elementor-1711 .elementor-element.elementor-element-7fa77075 img {
    max-width: 52.5%;

}
}
@media only screen and (max-width:1280px), only screen and (max-height:720px) {
    .elementor-1711 .elementor-element.elementor-element-7fa77075 img {
    max-width: 52.5%;
}
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-68ee415b */.elementor-1711 .elementor-element.elementor-element-68ee415b{
    position: absolute;
    height: 20vh;
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
@media screen and (max-width: 1921px) , screen and (max-height: 1081px) {
  .elementor-1711 .elementor-element.elementor-element-68ee415b {
      padding-left: 30px;
      padding-right: 40px;
      padding-top: 30px;
  }
}

@media screen and (max-width: 1281px) , screen and (max-height: 721px) {
  .elementor-1711 .elementor-element.elementor-element-68ee415b {
      padding-left: 20px;
      padding-right: 30px;
      padding-top: 20px;
  } 
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-7ea2d83d */.elementor-1711 .elementor-element.elementor-element-7ea2d83d{
  transform: rotate(-90deg) translateY(0.3vw);
    position: fixed;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-56228809 */.elementor-1711 .elementor-element.elementor-element-56228809 {
      position: fixed;
    height: 100vh;
    width: 10vw;
   animation: s24 1s forwards;
    animation-delay: 0.75s;
    opacity: 0;
  -webkit-animation: s24 1s forwards;
  -webkit-animation-delay: 0.75s;
}
@-webkit-keyframes s24 {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s24 {
  0% {
    transform: translateX(-10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5f7bbf5e */.elementor-1711 .elementor-element.elementor-element-5f7bbf5e{
  transform: rotate(-90deg) translateY(0.3vw);
position: absolute;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-26c4b8c7 */.elementor-1711 .elementor-element.elementor-element-26c4b8c7 {
    height: 100vh;
    width: 10vw;
   position: fixed;
   left: 10vw;
   animation: s25 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s25 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s25 {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s25 {
  0% {
    transform: translateX(-10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-c227cdf */.elementor-1711 .elementor-element.elementor-element-c227cdf{
  transform: rotate(-90deg) translateY(0.3vw);
position: absolute;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b9eb634 */.elementor-1711 .elementor-element.elementor-element-b9eb634 {
    height: 100vh;
    width: 10vw;
   position: fixed;
   left: 10vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-8becf5b */.elementor-1711 .elementor-element.elementor-element-8becf5b{
  transform: rotate(-90deg) translateY(0.3vw);
    position: fixed;
  width: 100vh;
  }/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-64e23be */.elementor-1711 .elementor-element.elementor-element-64e23be {
      position: fixed;
    height: 100vh;
    width: 10vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-47fd4569 */.elementor-1711 .elementor-element.elementor-element-47fd4569 {
    overflow-x: hidden;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-31e14f50 */.elementor-1711 .elementor-element.elementor-element-31e14f50 {
display: block;
overflow-y: scroll;
overflow-x: hidden;
scroll-behavior: smooth;
width: 80vw;
height: 100vh;
transform: translateX(20vw);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-228234f4 */.elementor-1711 .elementor-element.elementor-element-228234f4 {
    overflow-y: scroll;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-120b73f8 */.elementor-1711 .elementor-element.elementor-element-120b73f8 {
    position: absolute;
    height: 100vh;
    width: 100vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-72612ae8 */.elementor-1711 .elementor-element.elementor-element-72612ae8 {
    position: absolute;
width: 40px;
height: 50px;
right: 0;

}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-701e2389 */.elementor-1711 .elementor-element.elementor-element-701e2389 {
height: 10vh;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2ef70124 */.elementor-1711 .elementor-element.elementor-element-2ef70124 {
    position: absolute;
     width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-71b7bb35 */.elementor-1711 .elementor-element.elementor-element-71b7bb35 {
position: relative;
height: 70vh;
left: 0;
top:5vh;
   animation: s25-t-g 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s25-t-g 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s25-t-g {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s25-t-g {
  0% {
    transform: translateX(-10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2e9d8dbb */.elementor-1711 .elementor-element.elementor-element-2e9d8dbb {
  display: block;
    width: 70vw;
    height: 70vh;
    top: 5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2fe08715 */.elementor-1711 .elementor-element.elementor-element-2fe08715 {
    position: absolute;
     width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-71907851 */.elementor-1711 .elementor-element.elementor-element-71907851 {
position: relative;
height: 70vh;
right: 0;
top:5vh;
   animation: s24-t-g 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s24-t-g 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s24-t-g {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s24-t-g {
  0% {
    transform: translateX(10%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3c44594 */.elementor-1711 .elementor-element.elementor-element-3c44594 {
    height: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c9fbb26 */.elementor-1711 .elementor-element.elementor-element-c9fbb26 {
    position: absolute;
    height: 100%;
    width: 100vw;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2f0689e */.elementor-1711 .elementor-element.elementor-element-2f0689e {
    position: absolute;
width: 30px;
right: 3%;
padding-top: 2.0%;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1c0be64 */.elementor-1711 .elementor-element.elementor-element-1c0be64 {
    position: fixed;
height: 10vh;
width: 100%;
      padding-left: 5%;
      padding-right: 4.3%;
      padding-top: 5%;
  }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1ea789ed */.elementor-1711 .elementor-element.elementor-element-1ea789ed {
    position: absolute;
    width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-15f1663f */.elementor-1711 .elementor-element.elementor-element-15f1663f {
position: fixed;
height: 60vh;
left: 0;
top:15vh;
   animation: s25-m-g 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s25-m-g 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s25-m-g {
  0% {
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s25-m-g {
  0% {
    transform: translateX(-15%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-636ae20d */.elementor-1711 .elementor-element.elementor-element-636ae20d {
  display: block;
    width: 70vw;
    height: 60vh;
    top: 15vh;
    left: 15vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-34bb68b9 */.elementor-1711 .elementor-element.elementor-element-34bb68b9{
    position: absolute;
    width: 100vh;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1393f99 */.elementor-1711 .elementor-element.elementor-element-1393f99 {
position: fixed;
height: 60vh;
right: 0;
top:15vh;
   animation: s24-m-g 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  -webkit-animation: s24-m-g 1s forwards;
  -webkit-animation-delay: 0.5s;
}
@-webkit-keyframes s24-m-g {
  0% {
    transform: translateX(15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes s24-m-g {
  0% {
    transform: translateX(15%);
        opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4c85e49a */.elementor-1711 .elementor-element.elementor-element-4c85e49a {
overflow: hidden;
width: 100%;
height: 100vh;
}/* End custom CSS */